@import url(nav.css);

body {
    background-color: #001947;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
*,
*::before,
*::after{
    box-sizing: border-box;
}  


h1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    color: black;
  }

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  


.chat-container {
    display: flex;
    width: 100%;
    height: 100%;
}
.chat-list {
    width: 40%;
    background: #f4f4f4;
    border-right: 2px solid #ddd;
    padding: 20px;
    overflow-y: auto;
}
.chat-list a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #001947;;
}
.chat-list a:hover {
    background-color:  #A31F21;
}
.chat-window {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #001947;
}

.msg{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 20px;
}
.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.4;
    position: relative;
    word-wrap: break-word;
}
.message.sent {
    background:  #A31F21;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    color: white;
}
.message.received {
    background: white;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}
.message-form textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
}
.message-form button {
    width: 100%;
    padding: 10px;
    background:  #A31F21;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.message-form button:hover {
    background:  #A31F21;
}
.placeholder {
    color: #999;
    font-size: 18px;
    text-align: center;
    margin-top: 20%;
}

@media screen and (min-width:100px) {
    .chat-list {
        width: 25%;
    }    
}

/* Design desktop */
@media (min-width: 768px) {

    

    .page{
      flex-direction: row;
    }

    a{
      text-decoration: none;
    }
}