@import url(nav.css);

.table-notes {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-notes th,
.table-notes td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: center;
}

.table-notes th {
    background-color:#A31F21;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.table-notes td{
    background-color: #f2f2f2;
}

.competence{
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: #001947;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
*,
*::before,
*::after{
    box-sizing: border-box;
}  


h1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    color: white;
  }
  

.table{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    margin-inline: auto;
}

.page {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  .page {
        display: flex;
        flex-direction: row;
    }
  }

  