* {
  margin: 0;
}

body {
  background-color: #001947;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  padding: 24px 16px;
  background: white;
  border-left: 1px solid #DDE1E6;
  border-right: 1px solid #DDE1E6;
  display: flex;
  flex-direction: column;
  display: none;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.profile-picture {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: url(img/jesse.jpeg); /* Remplace cette URL par l'image de profil appropriée */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid #F2F4F8;
  transition: background-color 0.3s;
}

.menu-item.active {
  background: #A31F21;
}

.menu-item.active .text {
  color: white;
}

.menu-item .icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  margin-right: 8px;
}

.menu-item .text {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  color: #21272A;
}

.menu-item.logout {
  padding-top: 150px;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: red;
  height: 50px;
  display: flex;
}

.header h1 {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.container {
  margin-top: 30px;
  width: 260px;
  height: 350px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1024px) {
  .sidebar {
    width: 250px;
    height: 100vh;
    padding: 24px 16px;
    background: white;
    border-left: 1px solid #DDE1E6;
    border-right: 1px solid #DDE1E6;
    display: flex;
    flex-direction: column;
    display: none;
  }
  
  .profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .profile-picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url(img/jesse.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .profile-icon {
    width: 24px;
    height: 24px;
    background: #C1C7CD;
  } */
  
  .menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    border-bottom: 1px solid #F2F4F8;
  }
  
  .menu-item.active {
    background: #A31F21;
  }
  
  .menu-item.active .text {
    color: white;
  }
  
  .menu-item .icon {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-right: 8px;
    /* background: #21272A; */
  }
  
  .menu-item .text {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    color: #21272A;
  }
  
  .menu-item.logout {
    padding-top: 150px;
  }

  a{
    text-decoration: none;
  }

  .header{
    width: 100%;
    background-color: red;
    height: 50px;
    display: flex;
  }

  .header h1{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    color: white;
  }

  .container{
    margin-top: 30px;
    width: 260px;
    height: 350px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
  }

  

 

  @media screen and (min-width: 1024px) {
    .sidebar{
      display: block;
  }
}