@import url(nav.css);


*,
*::before,
*::after{
    box-sizing: border-box;
}  
/* Général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001947;
  color: rgb(255, 255, 255);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* En-tête */
header {
  text-align: center;
  margin-bottom: 20px;
}

.top-container {
  margin-top: 15px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.trait-blanc {
  width: 50%;
  height: 3px;
  background-color: white;
}

header h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.homework-container {
  width: 100%;
  padding: 15px 20px;
  background-color: #DDE1E6;
  border-radius: 8px;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.filters button {
  background-color: #1D2A50;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #324478;
}


/* Liste des tâches */
.task-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  color: rgb(0, 0, 0);
  background-color: #DDE1E6;
  padding: 15px 25px;
  border-radius: 8px;
}

.task {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.task h3 {
  margin: 0 0 10px;
}

.task a {
  background-color: #A22D2D;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.task a:hover {
  background-color: #C14646;
}


@media (min-width: 850px) {
  .container {
    flex-direction: row;
  }
  .content {
    width: calc(100% - 280px);
  }
  .folders {
    width: 30%;
  }
  .files-container {
    width: 70%;
  }
}
/* Design desktop */
@media (min-width: 768px) {
  .task-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
    .page{
      display: flex;
    }

    a{
      text-decoration: none;
    }
}









/*  ----------------------------------------------------------------------------------------- */

.absence-info {
  position: fixed;
  bottom: 20px; 
  right: 20px;  
  background-color: white; 
  color: black; 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px #DDE1E6;
  z-index: 1000; 
  width: 250px; 

.absence-info h3 {
  margin-top: 0;
  font-size: 18px; 
  font-weight: bold;
}

.absence-info ul {
  list-style-type: none;
  padding-left: 0;
}

.absence-info li {
  margin-bottom: 8px; 
  font-size: 14px; 
}

}



